<!DOCTYPE html>
<html>
<head>


<style>

#DataTables_Table_0_wrapper {
	width: 96% !important;
	margin-left: 2% !important;
}

table.bestseller-table {
	text-align: center !important;
	
	th.sorting_asc, th.sorting {
		padding-right: 16px !important;
	}
	
	td.sorting_1 {
		pointer-events: none;
		padding-left: 16px !important;
	}
	
	td.table-plus::before {
		content: none !important;
	}
}

th.table-plus.datatable-nosort.sorting_asc::before, 
th.table-plus.datatable-nosort.sorting_asc::after,
th.sorting::before, th.sorting::after {
	content: none !important;
}
th.sorting, th.table-plus.datatable-nosort.sorting_asc {
	pointer-events: none; /* 클릭 비활성화 */
}


#chart1 {
	float: right;
	padding-right: 10px;
}



</style>


</head>
<body>
	<div th:replace="~{/include/header}"></div>
	<div class="mobile-menu-overlay"></div>

	<div class="main-container">
		<div class="pd-ltr-20">

			<div class="row">
				<div class="col-xl-3 mb-30">
					<div class="card-box height-100-p widget-style1">
						<div class="d-flex flex-wrap align-items-center">
							<div class="widget-data">
								<div class="weight-600 font-14" style="font-size: 16px;">Today Orders</div>
								<div class="h2 mb-0" id="today-orderAmount" style="padding: 4px 0 2px 0;"></div>
								<div class="weight-600 font-14">
									<span id="today-orderAmount-changeRate" style="font-size: 18px;">↑4.63%</span>
									<span id="additional-text-1" style="font-size: 13px;">전일 대비</span>
								</div>
							</div>
							<div class="progress-data">
								<span id="chart1"></span>
							</div>
						</div>
					</div>
				</div>
				<div class="col-xl-3 mb-30">
					<div class="card-box height-100-p widget-style1">
						<div class="d-flex flex-wrap align-items-center">
							<div class="progress-data">
								<div id="chart2"></div>
							</div>
							<div class="widget-data">
								<div class="h4 mb-0">400</div>
								<div class="weight-600 font-14">Deals</div>
							</div>
						</div>
					</div>
				</div>
				<div class="col-xl-3 mb-30">
					<div class="card-box height-100-p widget-style1">
						<div class="d-flex flex-wrap align-items-center">
							<div class="progress-data">
								<div id="chart3"></div>
							</div>
							<div class="widget-data">
								<div class="h4 mb-0">350</div>
								<div class="weight-600 font-14">Campaign</div>
							</div>
						</div>
					</div>
				</div>
				<div class="col-xl-3 mb-30">
					<div class="card-box height-100-p widget-style1">
						<div class="d-flex flex-wrap align-items-center">
							<div class="progress-data">
								<div id="chart4"></div>
							</div>
							<div class="widget-data">
								<div class="h4 mb-0">$6060</div>
								<div class="weight-600 font-14">Worth</div>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="row">
				<div class="col-xl-8 mb-30">
					<div class="card-box height-100-p pd-20">
						<h2 class="h4 mb-20">Activity</h2>
						<div id="chart5"></div>
					</div>
				</div>
				<div class="col-xl-4 mb-30">
					<div class="card-box height-100-p pd-20">
						<h2 class="h4 mb-20">Lead Target</h2>
						<div id="chart6"></div>
					</div>
				</div>
			</div>
			<div class="row">
				<div class="col-xl-4 mb-30">
					<div class="card-box height-100-p pd-20">
						<h5>자주 거래한 협력사 Top5 (최근 7일)</h5>
						<div id="apexchart2"></div>
					</div>
				</div>
			</div>
			
			<div class="card-box mb-30">
				<h2 class="h4 pd-20">이번 주 인기상품 Top5 (최근 7일)</h2>
				<table class="data-table table nowrap bestseller-table">
					<thead>
						<tr>
							<th width="7%" class="table-plus datatable-nosort">제품</th>
							<th>제품명</th>
							<th>제조사</th>
							<th>카테고리</th>
							<th>가격(원)</th>
							<th>판매량</th>
							<th></th>
						</tr>
					</thead>
					<tbody>
						<th:block th:each="product,stat: ${productSales}" th:if="${stat.index<5}">
							<tr>
								<td class="table-plus">
									<img th:src="${product.product_img}" width="70" height="70" alt="">
								</td>
								<td>
									<h5 class="font-16"><th:block th:text="${product.product_name}"/></h5>
									by <th:block th:text="${product.product_brand}"/>
								</td>
								<td><th:block th:text="${product.product_brand}"/></td>
								<td><th:block th:text="${product.product_category}"/></td>
								<td><th:block th:text="${#numbers.formatInteger(product.product_price,3,'COMMA')}"/></td>
								<td><th:block th:text="${product.released}"/></td>
								<td></td>
							</tr>
						</th:block>
						
					</tbody>
				</table>
			</div>
			<div class="footer-wrap pd-20 mb-20 card-box">
				DeskApp - Bootstrap 4 Admin Template By <a href="https://github.com/dropways" target="_blank">Ankit Hingarajiya</a>
			</div>
		</div>
	</div>
	<!-- js -->
	<script src="vendors/scripts/core.js"></script>
	<script src="vendors/scripts/script.min.js"></script>
	<script src="vendors/scripts/process.js"></script>
	<script src="vendors/scripts/layout-settings.js"></script>
	<script src="src/plugins/apexcharts/apexcharts.min.js"></script>
	<script src="src/plugins/datatables/js/jquery.dataTables.min.js"></script>
	<script src="src/plugins/datatables/js/dataTables.bootstrap4.min.js"></script>
	<script src="src/plugins/datatables/js/dataTables.responsive.min.js"></script>
	<script src="src/plugins/datatables/js/responsive.bootstrap4.min.js"></script>
	<script src="vendors/scripts/dashboard.js"></script>
	
	<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>

	
<script>
	
fetch('/getCompanyNameList') // 엔드포인트 호출
.then(response => response.json()) // JSON 형식으로 변환
.then(companyNameList => {
    var options = {
		series: [44, 55, 13, 43, 22],
		chart: {
	        width: 380,
	        type: 'pie',
		},
		labels: [companyNameList[0],companyNameList[1],companyNameList[2],companyNameList[3],companyNameList[4]],
		responsive: [{
			breakpoint: 480,
	        options: {
				chart: {
					width: 200
				},
				legend: {
					position: 'bottom'
				}
			}
		}]
	};
    var chart = new ApexCharts(document.querySelector("#apexchart1"), options);
    chart.render();
})
.catch(error => {
    console.error('Error fetching company names:', error);
});


fetch('/getCompanyListWithSales') // 엔드포인트 호출
.then(response => response.json()) // JSON 형식으로 변환
.then(map => {
	
    var options = {
		series: map.companyTotalSales,
		chart: {
	        width: 380,
	        type: 'donut',
		},
		labels: map.companyName,
		responsive: [{
			breakpoint: 480,
	        options: {
				chart: {
					width: 200
				},
				legend: {
					position: 'bottom'
				}
			}
		}]
	};
    var chart = new ApexCharts(document.querySelector("#apexchart2"), options);
    chart.render();
})
.catch(error => {
    console.error('Error fetching company names:', error);
});


</script>


<script>

fetch('/getRecentSalesInformations') // 엔드포인트 호출
.then(response => response.json()) // JSON 형식으로 변환
.then(map => {
	const label = map.dayname;
	
	var options = {
		series: [
			{
				name: "Desktops",
				data: map.recentTotalAmount
			},
		],
		chart: {
			height: 90,
			width: 130,
			type: 'line',
			zoom: {
				enabled: false
			},
			toolbar: {
				show: false
			},
		},
		dataLabels: {
			enabled: false
		},
		stroke: {
			curve: 'smooth',
			width: 3
		},
		grid: {
			show: false,
		},
		xaxis: {  
			axisBorder: { show: false },
			axisTicks: { show: false },
			labels: { show: false },
	        tooltip: {
	            enabled: false,
	        }
		},
		yaxis: {
			show: false,
		},
		fill: {
			  type: 'gradient',
			  gradient: { gradientToColors: ['#0be881'], stops: [0, 100] },
		},
        tooltip: {
            custom: function({ series, seriesIndex, dataPointIndex }) {
				const value = series[seriesIndex][dataPointIndex];
				const month = label[dataPointIndex];
				return `<div style="padding: 5px; font-size: 10px; background: #f4f4f4; border-radius: 5px;">
                            <strong>${month} : ${value}</strong>
                        </div>`;
            },
            style: {
                fontSize: '10px',
                fontFamily: 'Arial, sans-serif'
            }
        },
	};

	var chart = new ApexCharts(document.querySelector("#chart1"), options);
	chart.render();
	
	document.getElementById("today-orderAmount").textContent = map.recentTotalAmount[map.recentTotalAmount.length-1];
	const element = document.getElementById("today-orderAmount-changeRate");
	const element2 = document.getElementById("additional-text-1");
	const today = map.recentTotalAmount[map.recentTotalAmount.length-1];
	const yesterday = map.recentTotalAmount[map.recentTotalAmount.length-2];
	
	if (yesterday == 0) {
		if (today == 0) {
			element.textContent = "";
			element2.textContent = "어제~금일 판매기록 없음";
		} else {
			element.textContent = "▲ 100%  ";
			element.style.color = "red";
		}
	} else if (today/yesterday) {
		if (today == 0) {
			element.textContent = "";
			element2.textContent = "금일 판매기록 없음";
		} else if (today/yesterday<1) {
			element.textContent = "▼ "+(100*(1-today/yesterday)).toFixed(2)+"%";
			element.style.color = "blue";
		} else {
			element.textContent = "▲ "+(100*(today/yesterday-1)).toFixed(2)+"%";
			element.style.color = "red";
		}
	}
		
})
.catch(error => {
	    console.error('Error fetching company names:', error);
});

</script>

	
</body>
</html>